body{ background-color: red;}
.k{ margin: 0 auto;}
.h{   background-color: aqua; color: aliceblue; text-align: center;}
img{  width: 150px;}
.g{   background-color: black; color: aliceblue;}
.d{    background-color: aliceblue; width: 350px; ; text-align: center;}
.m{ background-color: aliceblue; width: 350px; ; text-align: center;}
.s{ background-color: black; color: aliceblue;}